<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="用户分析">
                    <match url="misc\/useranalysis$" ignoreCase="false" />
                    <action type="Rewrite" url="misc/useranalysis.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
