<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpRuntime requestPathInvalidCharacters="" />
    </system.web>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="appmsganalysisreport" stopProcessing="true">
                    <match url="misc\/appmsganalysis-action=report" ignoreCase="false" />
                    <action type="Rewrite" url="misc/appmsganalysis.html" appendQueryString="true" />
                </rule>
                <rule name="useranalysis" stopProcessing="true">
                    <match url="misc\/useranalysis-&amp;token=(\d{0,39})&amp;lang=zh_CN$" ignoreCase="false" />
                    <action type="Rewrite" url="misc/useranalysis.html" />
                </rule>
                <rule name="appmsganalysis_all">
                    <match url="misc\/appmsganalysis-action=all&amp;order_direction=2&amp;token=(\d{0,30})&amp;lang=zh_CN" />
                    <action type="Rewrite" url="misc/appmsganalysis.html" />
                </rule>
                <rule name="menuanalysis">
                    <match url="misc\/menuanalysis-&amp;token=(\d{0,39})&amp;lang=zh_CN" ignoreCase="false" />
                    <action type="Rewrite" url="misc/menuanalysis.html" />
                </rule>
                <rule name="messageanalysis_daily">
                    <match url="misc\/messageanalysis-type=daily&amp;t=statistics\/msg&amp;token=(\d{0,39})&amp;lang=zh_CN" />
                    <action type="Rewrite" url="misc/messageanalysis.html" />
                </rule>
                <rule name="interfaceanalysis_daily">
                    <match url="misc\/interfaceanalysis-type=daily&amp;token=(\d{0,39})&amp;lang=zh_CN$" />
                    <action type="Rewrite" url="misc/interfaceanalysis.html" />
                </rule>
                <rule name="webpageanalysis_listintfstat">
                    <match url="misc\/webpageanalysis-action=listintfstat&amp;token=(\d{1,30})&amp;lang=zh_CN" />
                    <action type="Rewrite" url="misc/webpageanalysis.html" />
                </rule>
                <rule name="useranalysis_attr">
                    <match url="misc\/useranalysis-action=attr&amp;begin_date=(\d{0,4})-(\d{0,2})-(\d{0,2})&amp;end_date=(\d{0,4})-(\d{0,2})-(\d{0,2})&amp;token=(\d{0,30})&amp;lang=zh_CN" />
                    <action type="Rewrite" url="misc/useranalysis_atrr.html" />
                </rule>
                <rule name="appmsganalysis-all2">
                    <match url="misc\/appmsganalysis-action=all&amp;token=(\d{0,30})&amp;lang=zh_CN" />
                    <action type="Rewrite" url="misc/appmsganalysis.html" />
                </rule>
                <rule name="masssendpage">
                    <match url="cgi-bin\/masssendpage-t=mass\/send&amp;token=(\d{0,30})&amp;lang=zh_CN" />
                    <action type="Rewrite" url="cgi-bin/masssendpage.html" />
                </rule>
                <rule name="masssendpage-mass">
                    <match url="cgi-bin\/masssendpage-t=mass\/list&amp;action=history&amp;begin=0&amp;count=10&amp;token=(\d{0,30})&amp;lang=zh_CN" />
                    <action type="Rewrite" url="cgi-bin/masssendpage_mass.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>

</configuration>
